   <!-- @@include('template/header.html') -->
   <section class="cardStudy">
    <div class="container">
        <div class="cardTitle">
            <h2>單字學習</h2>
            <h3>利用科學化的方式來記憶字卡<br>不熟的單字會重複出現，能夠讓您輕鬆得重複記憶</h3>
        </div>
        <div class="cardContent">
            <ul class="cardSideBar">
                <li class="cardClassTitle">字卡類別</li>
                <li class="cardClass selectedCard">
                    <span>初級（預設)</span>
                    <ul>
                        <li>Mother</li>
                        <li>Father</li>
                        <li>Family</li>
                        <li>Teacher</li>
                        <li>Huh</li>
                    </ul>
                </li>
                <li class="cardClass">
                    <span>音樂</span>
                    <ul>
                        <li>Guitar</li>
                        <li>Violin</li>
                        <li>Piano</li>
                        <li>Scale</li>
                        <li>Music</li>
                    </ul>
                </li>
                <li class="cardClass">
                    <span>動物</span>
                    <ul>
                        <li>Tiger</li>
                        <li>Lion</li>
                        <li>Sloth</li>
                        <li>Food Panda</li>
                        <li>Python</li>
                    </ul>
                </li>
                <li class="cardClass">
                    <span>生活</span>
                    <ul>
                        <li>What</li>
                        <li>The</li>
                        <li>Freak</li>
                        <li>Is</li>
                        <li>This</li>
                    </ul>
                </li>
                <li class="cardClass">
                    <span>其他</span>
                    <ul>
                        <li>Fight</li>
                        <li>Me</li>
                        <li>You</li>
                        <li>Punk</li>
                        <li>I</li>
                        <li>Am</li>
                        <li>Gonna</li>
                        <li>Kick</li>
                        <li>Your</li>
                        <li>Ass</li>
                    </ul>
                </li>
                <li class="cardClass">+</li>
                <li class="cardClassEdit">編輯類別</li>
            </ul>
            <div class="cardShow">
                <div class="cardItem"></div>
                <div class="cardItem"></div>
                <div class="cardItem"></div>
                <div class="cardItem"></div>
                <div class="cardItem">
                    <p>字卡類別</p>
                    <span></span>
                </div>
                <div id="cardStudyBtn">開始記憶</div>
            </div>
            <div class="cardStudyStart">
                    <div class="cardProgress">
                        <p>剩餘字卡：<span>5</span></p>
                        <div class="bar">
                            <div class="red"></div>
                            <div class="blue"></div>
                        </div>
                    </div>
                    <div class="cardStudyContent">
                        <div class="cardPlayButtonStyle" id="forget">不記得</div>
                        <div class="cardWrap"></div>
                        <div class="cardPlayButtonStyle" id="remember">記得</div>
                    </div>
                <div id="cardQuit">離開</div>
            </div>
        </div>


    </div>

</section>