<footer class="footer">
<ul class="footerContent">
    <li>
        <h4><a href="#">英文闖關</a></h4>
        <p><a href="#">闖關遊戲</a></p>
    </li>
    <li>
        <h4><a href="#">字卡學習</a></h4>
    </li>
    <li>
        <h4><a href="#">影片專區</a></h4>
        <p><a href="#">音樂類影片</a></p>
        <p><a href="#">戲劇類影片</a></p>
        <p><a href="#">新聞類影片</a></p>
    </li>
    <li>
        <h4><a href="#">角色管理</a></h4>
    </li>
    <li>
        <h4><a href="#">社群專區</a></h4>
        <p><a href="#">語言交換</a></p>
        <p><a href="#">學習分享</a></p>
    </li>
    <li>
        <h4><a href="#">會員專區</a></h4>
        <p><a href="#">登入會員</a></p>
        <p><a href="#">註冊會員</a></p>
    </li>
</ul>
<ul class="footerSocial">
    <a href="#"><img src="./img/001-facebook.png" alt="socialMedia"></a>
    <a href="#"><img src="./img/002-instagram.png" alt="socialMedia"></a>
    <a href="#"><img src="./img/003-whatsapp.png" alt="socialMedia"></a>
    <a href="#"><img src="./img/004-linkedin.png" alt="socialMedia"></a>
    <a href="#"><img src="./img/005-google-plus.png" alt="socialMedia"></a>
    <a href="#"><img src="./img/007-youtube.png" alt="socialMedia"></a>
</ul>
<small class="footerSmall">Copyright &copy 2019 enGalaxy Inc</small>
</footer>