<section class="eventInfoSection">
  <div class="container">
    <div class="eventInfoArea">
      <div class="eventPic col-12">
        <img src="https://picsum.photos/500/300/?random=1" alt="活動照片" />
      </div>
      <div class="eventInfoWrap">
        <form action="#" id="signUpForm">
          <div class="eventTitle">
            <input type="hidden" name="eventId" />
            <h2>英語同樂會</h2>
            <span>活動日期：2019/10/10</span>
            <span>活動地點：cama cafe</span>
            
          <div class="eventBtnArea">
                <button type="button" class="redButton" id="signEvent">報名</button>
                <div class="reportButton"><span id="report">檢舉不當</span></div>
              </div>
          </div>
        </form>
        <div class="eventDetail">
          <h2>活動詳情</h2>
          <span>活動內容：英語會話五四三</span>
          <span>已報名人數：10人</span>
          <span>剩餘名額：5人</span>
          <span
            >活動簡介：
            甚至配件等級全家全面很多人不願，廣播漸漸的話同意果然全國描述神秘給你目光日前，幾年是這樣住房韓國然而熟悉算是專題目前我要，渠道自己的功夫多年住了大量郵箱制定特別，一隻作家只要結合實在，相比生存障礙堅持不管儘快主義處理器技術主持中壢，一口氣先進教育，一部轉。
          </span>
        </div>
      </div>
    </div>
    <div id="trigger_01"></div>
    <div class="eventHost">
      <h2>主辦會員資訊</h2>
      <div class="imgWrap"><img src="img/forum/character2.svg" /></div>
      <div class="hostName">舉辦會員：superman</div>
      <div class="contactButton">聯絡主辦人</div>
    </div>
    
    <div class="otherEvent">
      <h2>其他活動</h2>
        <div class="otherEventList">
            <div class="wrap">
              <div class="eventCard">
                <div class="eventProfile">
                  <div class="imgWrap">
                    <img src="img/forum/bachelor.svg" />
                    <img src="img/forum/A.svg" />
                    <img src="img/forum/B.svg" />
                    <img src="img/forum/C.svg" />
                  </div>
                  <div class="imgWrap"><img src="img/forum/character2.svg" /></div>
                  <div class="hostName">舉辦會員：superman</div>
                </div>
                <div class="eventInfo">
                  <div class="infoList">
                    <ul>
                      <li>張貼日期：2019/08/24</li>
                      <li>活動時間：2019/09/30 am 12:00</li>
                      <li>活動地點： cama cafe</li>
                      <li>活動名稱：一起說已與</li>
                      <li>活動內容：英語會話五四三</li>
                      <li>報名人數：10人/15人</li>
                    </ul>
                  </div>
                  <div class="askQ">
                    <div class="yellowButton">我要參加</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap">
              <div class="eventCard">
                <div class="eventProfile">
                  <div class="imgWrap">
                    <img src="img/forum/bachelor.svg" />
                    <img src="img/forum/A.svg" />
                    <img src="img/forum/B.svg" />
                    <img src="img/forum/C.svg" />
                  </div>
                  <div class="imgWrap"><img src="img/forum/character2.svg" /></div>
                  <div class="hostName">舉辦會員：superman</div>
                </div>
                <div class="eventInfo">
                  <div class="infoList">
                    <ul>
                      <li>張貼日期：2019/08/24</li>
                      <li>活動時間：2019/09/30 am 12:00</li>
                      <li>活動地點： cama cafe</li>
                      <li>活動名稱：一起說已與</li>
                      <li>活動內容：英語會話五四三</li>
                      <li>報名人數：10人/15人</li>
                    </ul>
                  </div>
                  <div class="askQ">
                    <div class="yellowButton">我要參加</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap">
              <div class="eventCard">
                <div class="eventProfile">
                  <div class="imgWrap">
                    <img src="img/forum/bachelor.svg" />
                    <img src="img/forum/A.svg" />
                    <img src="img/forum/B.svg" />
                    <img src="img/forum/C.svg" />
                  </div>
                  <div class="imgWrap"><img src="img/forum/character2.svg" /></div>
                  <div class="hostName">舉辦會員：superman</div>
                </div>
                <div class="eventInfo">
                  <div class="infoList">
                    <ul>
                      <li>張貼日期：2019/08/24</li>
                      <li>活動時間：2019/09/30 am 12:00</li>
                      <li>活動地點： cama cafe</li>
                      <li>活動名稱：一起說已與</li>
                      <li>活動內容：英語會話五四三</li>
                      <li>報名人數：10人/15人</li>
                    </ul>
                  </div>
                  <div class="askQ">
                    <div class="yellowButton">我要參加</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="eventBgImg">
          <img src="img/forum/rocket.svg" alt="rocket" \>
      </div>
      <div class="eventBgImg">
            <img src="img/forum/cloud.svg" alt="cloud" \>
        </div>
    </div>
    <!-- ------------檢舉燈箱-------- -->
    <div id="reportBox" >
      <div class="reportBoxWrap">
           <h4>檢舉原因</h4>
           <a href="#" class="reportCancelBtn">X</a>
             <select name="" id="">
                 <option value="1">外部廣告</option>
                 <option value="2">仇恨言語</option>
                 <option value="3">色情內容</option>
             </select>
             <button id="reportCheck">確認</button>
      </div>
   </div>
</section>
    <script>
    function $id(id) {
      return document.getElementById(id);
    }
    function doFirst(){
      //點按鈕打開燈箱
      $id('report').addEventListener('click',()=>{
        $id('reportBox').style.display="block";
      })
      //點x或(背景)及確認都會消失
      function closeLightBox(){
        $id('reportBox').style.display="none"
      }
      $id('reportCheck').addEventListener('click',closeLightBox);
      document.getElementsByClassName('reportCancelBtn')[0].addEventListener('click',closeLightBox);

 }
    window.addEventListener('load',doFirst);

    </script>
    <script>
    
    var controller = new ScrollMagic.Controller();
    var animation = TweenMax.to('.eventBgImg', 1, {
    y: -1000,
 
});

var scene = new ScrollMagic.Scene({
    triggerElement: '#trigger_01', //觸發點
     reverse :true, 
    duration :'70%',//距離
    offset :'200px'//偏移上方距離
}).setTween(animation).addIndicators().addTo(controller) 
    </script>