<header>
    <div class="container">
        <a class="logo" href="index.html">
            <h1>EN-GALAXY</h1>
        </a>
        <div id="memStatus">
            <span id="memStatusLogin">註冊 / 登入</span>
            <div class="memAfterLogin">
                <span id="memStatusId"></span>
                <div class="memStatusGEMPic">
                    <img src="img/GEM.png" alt="">
                </div>
                <span id="memStatusGEM">8888</span>
                <div id="memStatusAlarm">
                    <img src="img/alarm.png" alt="">
                </div>
            </div>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="game.html">
                        <div class="menuIcon"><img src="img/header/game.png" alt=""></div> [英文闖關]
                    </a></li>
                <li><a href="card.html">
                        <div class="menuIcon"><img src="img/header/card.png" alt=""></div> [字卡學習]
                    </a></li>
                <li><a href="video.html">
                        <div class="menuIcon"><img src="img/header/video.png" alt=""></div> [影片專區]
                    </a></li>
                <li><a href="forum.html">
                        <div class="menuIcon"><img src="img/header/forum.png" alt=""></div> [社群專區]
                    </a></li>
                <li><a href="role.html">
                        <div class="menuIcon"><img src="img/header/role.png" alt=""></div> [角色管理]
                    </a></li>
                <li><a href="member.html">
                        <div class="menuIcon"><img src="img/header/member.png" alt=""></div> [會員專區]
                    </a></li>
            </ul>
        </nav>
    </div>
</header>
@@include('login.html')