
<script src="js/jquery-3.4.1.js"></script>
<script src="js/login.js"></script>
<div id="loginBox">
    <div id="loginBoxClose"></div>
    <div class="loginlogo">
        <img src="img/header/logo.png">
    </div>
    <form action="#" method="post">
        <table class="loginInfo">
            <tr>
                <td class="memInfoBox">
                    <div class="memInfoBoxPic">
                        <img src="img/user.png">
                    </div>
                    <input type="text" placeholder="User" maxlength="15" id="memId" name="memId">
                    <div class="memInfoClear"></div>
                </td>
            </tr>
            <tr>
                <td class="memInfoBox">
                    <div class="memInfoBoxPic">
                        <img src="img/unlock.png">
                    </div>
                    <input type="password" placeholder="Password" maxlength="15" id="memPsw" name="memPsw">
                    <div class="memInfoClear"></div>
                </td>
            </tr>
        </table>

        <div id="submitBtn" class="yellowButton">登入</div>
        <div id="registeredBtn">註冊帳號</div>
        <!-- <div id="registeredBtn">註冊</div> -->
    </form>
</div>