<div class="memberRole">
    <div class="roleBody roalFloat">
        <img src="img/role/raceMeowBody.png" alt="我來組成身體">
        <div class="rolePart">
            <img src="img/role/raceMeowPart.png" alt="我來組成不變色的部分">
        </div>
        <div class="roleAccessory">
            <img src="img/role/accessoryGlass.png" alt="玻璃頭罩">
        </div>
        <div class="roleLeftHand">
            <img src="img/role/raceMeowLeftHand.png" alt="我來組成左手">
        </div>
        <div class="roleRightHand">
            <img src="img/role/raceMeowRightHand.png" alt="我來組成右手">
            <div class="weaponEquip">
                <img src="img/role/weaponFire.png" alt="火焰">
            </div>
        </div>
        <div class="roleVehicle">
            <img src="img/role/vehicleMidCls.png" alt="中級載具">
        </div>
    </div>
</div>