<script src="js/jquery-3.4.1.js"></script>
<script src="js/roleCreate.js"></script>
<section class="roleCreate">
    <div class="container">
        <div class="createRow">
        <div class="roleCreated">
            <div class="createCan">
                <img src="img/role/createRoleCan.png" alt="罐子">
                <div class="createRole">
                    <div class="createLaser"></div>
                    <div class="roleBody roalFloat">
                        <img src="img/role/raceMeowBody.png" alt="我來組成身體" class="partColored createBodyImg">
                        <div class="rolePart">
                            <img src="img/role/raceMeowPart.png" alt="我來組成不變色的部分" class="createPartImg">
                        </div>
                        <div class="roleLeftHand">
                            <img src="img/role/raceMeowLeftHand.png" alt="我來組成左手" class="partColored createLeftHandImg">
                        </div>
                        <div class="roleRightHand">
                            <img src="img/role/raceMeowRightHand.png" alt="我來組成右手" class="partColored createRightHandImg">
                        </div>
                    </div>
                    <div class="roleShadow"></div>
                </div>
            </div>
        </div>
        <div class="createOpts">
            <h3 class="createOptsTitle createOpt">創造你的角色</h3>
            <div class="createRoleNickname createOpt">
                <h4 class="createOptTitle">暱稱</h4>
                <input type="text" name="" id="" class="createNicknameText">
            </div>
            <div class="createRoleRaces createOpt">
                <h4 class="createOptTitle">種族</h4>
                <div class="createRaceOpts">
                    <div class="createRace">
                        <div class="createRaceImg">
                            <div class="roleBody">
                                <img src="img/role/raceMeowBody.png" alt="我來組成身體" class ="raceBodyImg">
                                <div class="rolePart">
                                    <img src="img/role/raceMeowPart.png" alt="我來組成不變色的部分" class ="racePartImg">
                                </div>
                                <div class="roleLeftHand">
                                    <img src="img/role/raceMeowLeftHand.png" alt="我來組成左手" class ="raceLeftHandImg">
                                </div>
                                <div class="roleRightHand">
                                    <img src="img/role/raceMeowRightHand.png" alt="我來組成右手" class ="raceRightHandImg">
                                </div>
                            </div>
                            <h5>喵星人</h5>
                        </div>
                    </div>
                    <div class="createRace">
                        <div class="createRaceImg">
                            <div class="roleBody">
                                <img src="img/role/raceDevilBody.png" alt="我來組成身體" class ="raceBodyImg">
                                <div class="rolePart">
                                    <img src="img/role/raceDevilPart.png" alt="我來組成不變色的部分" class ="racePartImg">
                                </div>
                                <div class="roleLeftHand">
                                    <img src="img/role/raceDevilLeftHand.png" alt="我來組成左手" class ="raceLeftHandImg">
                                </div>
                                <div class="roleRightHand">
                                    <img src="img/role/raceDevilRightHand.png" alt="我來組成右手" class ="raceRightHandImg">
                                </div>
                            </div>
                            <h5>地獄男孩</h5>
                        </div>
                    </div>
                    <div class="createRace">
                        <div class="createRaceImg">
                            <div class="roleBody">
                                <img src="img/role/raceAlexBody.png" alt="我來組成身體" class="raceBodyImg">
                                <div class="rolePart">
                                    <img src="img/role/raceAlexPart.png" alt="我來組成不變色的部分" class ="racePartImg">
                                </div>
                                <div class="roleLeftHand">
                                    <img src="img/role/raceAlexLeftHand.png" alt="我來組成左手" class ="raceLeftHandImg">
                                </div>
                                <div class="roleRightHand">
                                    <img src="img/role/raceAlexRightHand.png" alt="我來組成右手" class ="raceRightHandImg">
                                </div>
                            </div>
                            <h5>深海閻王</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="createRoleColor createOpt">
                <h4 class="createOptTitle">顏色</h4>
                <input type="range" name="" id="" class="createColorBar" min="0" max="360" step="1" value="0">
            </div>
            <div class="createConfirmBtn">
                儲存並開始註冊
            </div>
        </div>
    </div>
    </div>
</section>