<section class="sectionRole">
    <div class="container">
        <div class="roleManageCol">
        <div class="roleManageCan">
            <img src="img/role/createRoleCan.png" alt="罐子">
            @@include('memberRole.html')
            <div class="roleShadow"></div>
        </div>
    </div>
        <div class="roleInfos">
            <h3 class="roleInfo">暱稱:粽寶貝</h3>
            <h3 class="roleInfo">種族:喵星人</h3>
            <div class="roleInfoEdit">編輯 100G</div>
            <div class="closets">
                <div class="closetExpand">櫃子</div>
                <div class="closetClose">X</div>
                <div class="closetTabs">
                    <div class="closetTab tabClothes">衣櫃</div>
                    <div class="closetTab tabWeapons">武器櫃</div>
                    <div class="closetTab tabAccessories">飾品櫃</div>
                </div>
                <div class="clothClosetBox">
                <div class="clothEquipped">
                    <div class="closetClothes">
                        <div class="itemCloth">
                            <div class="itemName">衣服</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                        <div class="itemCloth">
                            <div class="itemName">衣服</div>
                            <img src="img/role/weaponGuitar.png" alt="火焰">
                        </div>
                        <div class="itemCloth">
                            <div class="itemName">衣服</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                         
                    </div>
                </div>
                <div class="closetClothesExpand">展開衣櫃</div>
                </div>
                <div class="weaponEquipped">
                    <div class="closetWeaponsExpand">展開武器櫃</div>
                    <div class="closetWeapons">
                        <div class="itemWeapon weaponFire">
                            <div class="itemName">武器</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                        <div class="itemWeapon weaponGuitar ">
                            <div class="itemName">武器</div>
                            <img src="img/role/weaponGuitar.png" alt="火焰">
                        </div>
                        <div class="itemWeapon weaponGuitar ">
                            <div class="itemName">武器</div>
                            <img src="img/role/weaponGuitar.png" alt="火焰">
                        </div>
                    </div>
                </div>
                <div class="accessoryEquipped">
                    <div class="closetAccessoriesExpand">展開飾品櫃</div>
                    <div class="closetAccessories">
                        <div class="itemAccessory">
                            <div class="itemName">飾品</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                        <div class="itemAccessory">
                            <div class="itemName">飾品</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                        <div class="itemAccessory">
                            <div class="itemName">飾品</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                    </div>
                </div>
            </div>
            <div class="stores">
                <div class="storesExpand">商店</div>
                <div class="storesClose">X</div>
                <div class="storeTabs">
                    <div class="storeTab storeTabClothes">衣服商店</div>
                    <div class="storeTab storeTabWeapons">武器商店</div>
                    <div class="storeTab storeTabAccessories">飾品商店</div>
                </div>
                <div class="storeClothes">
                    <div class="storeClothesExpand">展開衣服商店</div>
                    <div class="clothesInStore">
                        <div class="clothInStore">
                            <div class="itemName">衣服</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                        <div class="clothInStore">
                            <div class="itemName">衣服</div>
                            <img src="img/role/weaponGuitar.png" alt="火焰">
                        </div>
                        <div class="clothInStore">
                            <div class="itemName">衣服</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                    </div>
                </div>
                <div class="storeWeapons">
                    <div class="storeWeaponsExpand">展開武器商店</div>
                    <div class="weaponsInStore">
                        <div class="weaponInStore">
                            <div class="itemName">武器</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                        <div class="weaponInStore">
                            <div class="itemName">武器</div>
                            <img src="img/role/weaponGuitar.png" alt="火焰">
                        </div>
                        <div class="weaponInStore">
                            <div class="itemName">武器</div>
                            <img src="img/role/weaponGuitar.png" alt="火焰">
                        </div>
                    </div>
                </div>
                <div class="storeAccessories">
                    <div class="storeAccessoriesExpand">展開飾品商店</div>
                    <div class="accessoriesInStore">
                        <div class="accessoryInStore">
                            <div class="itemName">飾品</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                        <div class="accessoryInStore">
                            <div class="itemName">飾品</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                        <div class="accessoryInStore">
                            <div class="itemName">飾品</div>
                            <img src="img/role/weaponFire.png" alt="火焰">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
