<div class="videoContent">
    <div class="videoContainer">
        <section class="videoCont">
            <div class="videoBox">
                <p>
                    影片類別<span class="tag"><a href="javascript:;">影劇</a></span>
                </p>
                <p>
                    影片級別：初級
                </p>
                <h3>聊天須知！假期和休閒娛樂怎麼說？</h3>
                <h4>(Study English - Series 3, Episode 22: Talking About Holidays
                    and Leisure Time)</h4>
                <div class="videoFrame"><div class="frameImg"><img src="https://picsum.photos/600/600/?random=1"></div></div>
            </div>
            <div class="videoWord">
                <h3><div class="film"><img src="img/video/film.png" alt="加入影片收藏"></div>&nbsp;&nbsp;<a href="javascript:;">加入影片收藏</a></h3>
                <p class="enFrame">Marvel Studios’ Avengers: Endgame, the climactic
                    conclusion to an unprecedented, 11-year cinematic
                    journey in which the
                    Avengers take one final stand against Thanos,
                    delivered the biggest opening weekend in history
                    and is currently the highest-grossing films of all
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW
                    available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW
                    available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    journey in which the Marvel Studios’ Avengers: Endgame, the climactic
                    conclusion to an unprecedented, 11-year cinematic
                    journey in which the
                    Avengers take one final stand against Thanos,
                    delivered the biggest opening weekend in history
                    and is currently the highest-grossing films of all
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW
                    available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW
                    available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    journey in which theMarvel Studios’ Avengers: Endgame, the climactic
                    conclusion to an unprecedented, 11-year cinematic
                    journey in which the
                    Avengers take one final stand against Thanos,
                    delivered the biggest opening weekend in history
                    and is currently the highest-grossing films of all
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW
                    available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW
                    available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    journey in which theMarvel Studios’ Avengers: Endgame, the climactic
                    conclusion to an unprecedented, 11-year cinematic
                    journey in which the
                    Avengers take one final stand against Thanos,
                    delivered the biggest opening weekend in history
                    and is currently the highest-grossing films of all
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW
                    available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW
                    available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    journey in which theMarvel Studios’ Avengers: Endgame, the climactic
                    conclusion to an unprecedented, 11-year cinematic
                    journey in which the
                    Avengers take one final stand against Thanos,
                    delivered the biggest opening weekend in history
                    and is currently the highest-grossing films of all
                    time. Bring home the ultimate
                </p>
            </div>
        </section>
        <section class="videoImpot">
            <h3><div class="star"><img src="img/video/star.png" alt=""></div>&nbsp;&nbsp;影片單字學習重點</h3>
            <div class="videoVoc">

                <div class="vocText">
                    <div class="vocP">
                    <p>1. accord (v.) 一致,符合,和諧,協調;給予,使一致;自願,主動</p>
                    </div>
                    <div class="addImg">
                    <a href="javascript:;"><img src="/img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
                <div class="vocText">
                    <div class="vocP">
                    <p>2. accord (v.) 一致,符合,和諧,協調;給予,使一致;自願,主動</p>
                    </div>
                    <div class="addImg">
                    <a href="javascript:;"><img src="/img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
                <div class="vocText">
                    <div class="vocP">
                    <p>3. accord (v.) 一致,符合,和諧,協調;給予,使一致;自願,主動</p>
                    </div>
                    <div class="addImg">
                    <a href="javascript:;"><img src="/img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
                <div class="vocText">
                    <div class="vocP">
                    <p>4. accord (v.) 一致,符合,和諧,協調;給予,使一致;自願,主動</p>
                    </div>
                    <div class="addImg">
                    <a href="javascript:;"><img src="/img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
                <div class="vocText">
                    <div class="vocP">
                    <p>5. accord (v.) 一致,符合,和諧,協調;給予,使一致;自願,主動</p>
                    </div>
                    <div class="addImg">
                    <a href="javascript:;"><img src="/img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="videoTest">
            <h3><div class="glass"><img src="img/video/glass.png" alt="英文測驗專區"></div>&nbsp;&nbsp;英文測驗專區</h3>
            <div class="videoTotest">
                <div class="videoTestGame"><a href="javascript:;"></a></div>
                <div class="videoTestCard"><a href="javascript:;"></a></div>
            </div>
        </section>
    </div>


</div>