.footer{
    width: 100%;
    background: no-repeat top url(../img/footercloud.png);
    background-size: cover;
    height: 490px;
    text-align: center;
}
.footerContent{
    padding-top: 220px;
    width: 640px;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
    }
    li{
        text-align: center;
        z-index: 1;
        margin: 0 2%;
    }
    h4{
        font-size: 18px;
        margin-bottom: 10px;
        a{
            color: #224155;
        }
    }
    p{
        margin-bottom: 3px;
        a{
            color: $fcDark;
        }
    }
}
.footerSocial{
    margin-bottom: 25px;
    a{
        width: 50px;
        display: inline-block;
        margin: 0 22.5px;
        img{
            vertical-align: middle;
        }
    }
}
.footerSmall{
    color: $fcDark;
}