.roalFloat{
    animation: float 3s infinite;
    @keyframes float{
        0%{top: 0; animation-timing-function:linear;}
       25%{top: -10px; animation-timing-function:linear;}
       50%{top: 0; animation-timing-function:linear;}
       75%{top: 10px; animation-timing-function:linear;}
      100%{top: 0; animation-timing-function:linear;}
    }
}
.roleManageCol{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    @media(min-width: 767px){
        width: 50%;
    }
    .roleManageCan{
        position: relative;
        width: 80%;
        margin:auto;
        .memberRole{
            position:absolute;
            width: 90%;
            left:6%;
            top:15%;
            transition: height 1s linear; 
            height:67%;
            .roleBody{
                width: 66.7%;
            }
            .roleVehicle{
                display:none;
            }
        }   
        .roleShadow{
            width: 100%;
            height: 17px;
            border-radius: 50%;
            background-color: #424242;
            opacity:.18;
            position:absolute;
            top:81%;
            left:1%;
            animation: shadow 3s infinite;
            @keyframes shadow{
                0%{transform: scaleX(0.4); animation-timing-function:linear;}
               25%{transform: scaleX(0.3);animation-timing-function:linear;}
               50%{transform: scaleX(0.4);animation-timing-function:linear;}
               75%{transform: scaleX(0.5); animation-timing-function:linear;}
              100%{transform: scaleX(0.4); animation-timing-function:linear;}
            }
        } 
    }
}
.roleBody{
    position: relative;
    width: 67%;
    margin:auto;
    z-index:1;
    @include pad{
        width:33%;
    }
    img{
        width: 100%;
    }
    .roleAccessory{
        position: absolute;
        width: 100%;
        top:-3%;
    }
    .rolePart{
        position: absolute;
        top:16%;
        left:6%;
        width:90%;
    }
    .roleLeftHand{
        position: absolute;
        top:67%;
        left:30%;
        width: 14%;
    }
    .roleRightHand{
        position: absolute;
        top:68%;
        left:58%;
        width: 17%;
        animation: swing 3s infinite;
        transform-origin: 0 0 0;
        @keyframes swing{
            0%{transform: rotate(0deg); animation-timing-function:linear;}
           25%{transform: rotate(-10deg); animation-timing-function:linear;}
           50%{transform: rotate(0deg); animation-timing-function:linear;}
           75%{transform: rotate(10deg); animation-timing-function:linear;}
          100%{transform: rotate(0deg); animation-timing-function:linear;}
        }
        .weaponEquip{
            position: absolute;
            top:-100%;
            left:67%;
            width:200%;
        }
    }
    .roleVehicle{
        position: absolute;
        width: 100%;
        top:86%;
        z-index:-1;
    }
}
.roleInfos{
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #424242;
    padding: 30px;
    box-sizing: border-box;
    @include pad{
        width: 50%;
    }
    .roleInfo{
        margin-bottom:30px;
    }
    .roleInfoEdit{
        padding:15px;
        border:1px solid #ccc;
        width: 98px;
        margin: auto;
        &:hover{
            background-color: $Blue;
        }
    }
    .closets{
        width: 100%;
        position: absolute;
        left:-100%;
        bottom:83%;
        transition:left 1s;
        @include pad{
            left:100%;  
        }
        .closetExpand{
            position:absolute;
            padding:100px 10px;
            right:-52px;
            background-color: $DeepBlue;
            @include pad{
                display:none;  
            }
        }
        .closetClose{
            padding:10px;
            position: absolute;
            top:-36px;
            right:0;
            background-color:$DeepBlue;
            @include pad{
                display:none;  
            }
        }
        .closetTabs{
            width: 100%;
            display: flex;
            @include pad{
                display: none;
            }
            .closetTab{
                width: 33%;
                background-color: $DeepBlue;
                padding:10px;
            }
        }
        .clothClosetBox{
            .clothEquipped{
                width: 33.3%;
                position: absolute;
                z-index:1;
                @include pad{
                    position: relative;
                    overflow: hidden;
                    transition: width 1s;
                }
                .closetClothes{
                    display: flex;
                    background-color: $DeepBlue;
                    width:300%;
                    justify-content: space-around;
                    transition: width 1s;
                    padding: 30px 0;
                    .itemName{
                        margin-bottom: 10px;
                    }
                }
            }
        }
        
        .closetClothesExpand{
            display:none;
            @include pad{
                display:block;
                width: 33.3%;
                background-color: $DeepBlue;
                position: absolute;
                padding: 86px 0;
                left: 33.3%;
                top: 0;
                transition: left 1s;
                z-index:1;
            }
        }
        .weaponEquipped{
            width: 66.7%;
            position: absolute;
            z-index:5;
            @include pad{
                position: relative;
                overflow: hidden;
                transition: width 1s;
            }
            .closetWeaponsExpand{
                padding:10px;
                position: absolute;
                top:calc(50% - 18px);
                right:0;
                display:none;
                @include pad{
                    display:block;
                }
            }
            .closetWeapons{
                display: flex;
                background-color: $DeepBlue;
                width:300%;
                justify-content: space-around;
                transition: width 2s;
                padding: 30px 0;
                .itemName{
                    margin-bottom: 10px;
                }
            }
        }
        .accessoryEquipped{
            width: 66.7%;
            position: absolute;
            z-index:4;
            @include pad{
                position: relative;
                overflow: hidden;
                transition: width 1s;
            }
            .closetAccessoriesExpand{
                padding:10px;
                position: absolute;
                top:calc(50% - 18px);
                right:0;
                display:none;
                @include pad{
                    display:block;
                }
            }
            .closetAccessories{
                display: flex;
                background-color: $DeepBlue;
                width:300%;
                justify-content: space-around;
                transition: width 1s;
                padding: 30px 0;
                .itemName{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .stores{
        width: 100%;
        position: absolute;
        right:-100%;
        bottom:83%;
        transition:right 1s;
        @include pad{
            right:-120%;  
        }
        .storesExpand{
            position:absolute;
            padding:100px 10px;
            left:-52px;
            background-color: orange;
            @include pad{
                display:none;  
            }
        }
        .storesClose{
            background-color: orange;
            padding:10px;
            position: absolute;
            top:-36px;
            right:0;
            @include pad{
                display:none;  
            }
        }
        .storeTabs{
            width: 100%;
            display: flex;
            @include pad{
                display: none;
            }
            .storeTab{
                width: 33%;
                background-color: orange;
                padding:10px;
            }
        }
        .storeClothes{
            width: 66.7%;
            position: absolute;
            @include pad{
                position: relative;
                overflow: hidden;
                transition: width 1s;
            }
            .storeClothesExpand{
                padding:10px;
                position: absolute;
                top:calc(50% - 18px);
                right:0;
                display:none;
                @include pad{
                    display:block;
                }
            }
            .clothesInStore{
                display: flex;
                background-color: orange;
                width:300%;
                justify-content: space-around;
                transition: width 1s;
                padding: 30px 0;
                .itemName{
                    margin-bottom: 10px;
                }
            }
        }
        .storeWeapons{
            width: 66.7%;
            position: absolute;
            z-index:2;
            @include pad{
                position: relative;
                overflow: hidden;
                transition: width 1s;
            }
            .storeWeaponsExpand{
                padding:10px;
                position: absolute;
                top:calc(50% - 18px);
                right:0;
                display:none;
                @include pad{
                    display:block;
                }
            }
            .weaponsInStore{
                display: flex;
                background-color: orange;
                width:300%;
                justify-content: space-around;
                transition: width 2s;
                padding: 30px 0;
                .itemName{
                    margin-bottom: 10px;
                }
            }
        }
        .storeAccessories{
            width: 66.7%;
            position: absolute;
            z-index:1;
            @include pad{
                position: relative;
                overflow: hidden;
                transition: width 1s;
            }
            .storeAccessoriesExpand{
                padding:10px;
                position: absolute;
                top:calc(50% - 18px);
                right:0;
                display:none;
                @include pad{
                    display:block;
                }
            }
            .accessoriesInStore{
                display: flex;
                background-color: orange;
                width:300%;
                justify-content: space-around;
                transition: width 1s;
                padding: 30px 0;
                .itemName{
                    margin-bottom: 10px;
                }
            }
        }
    }
}