#loginBox {
  font-size: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  background-color: $DeepBlue;
  width: 400px;
  color: $Blue;
  box-shadow: 0 0 10px $Blue;
  border-radius: 10px;
  display: none;
  #loginBoxClose {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid $Blue;
    border-radius: 5px;
    &:before,
    &:after {
      content: "";
      background-color: $Blue;
      height: 100%;
      width: 2px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      border-color: $Yellow;
    }
    &:hover:before,
    &:hover:after {
      background-color: $Yellow;
    }
  }
  h3 {
    padding: 20px 0;
    font-size: 2rem;
  }
  .loginInfo {
    padding: 2% 0;
    width: 80%;
    margin: 0 auto 20px;

    th,
    td {
      display: inline-block;
      width: 100%;
      text-align: left;
    }
    #memIdBox,
    #memPswBox {
      margin: 10px 0 20px;
      position: relative;
      #memId,
      #memPsw {
        color: $Blue;
        border-radius: 5px;
        border: 1px solid $Blue;
        background-color: transparent;
        box-sizing: border-box;
        padding: 10px 8px;
        width: 100%;
        font-size: 1.5rem;
        &:focus {
          outline: none;
          border-color: $Yellow;
        }
      }
      #memIdClear,
      #memPswClear {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        visibility: hidden;
        &:before,
        &:after {
          content: "";
          background-color: $Blue;
          height: 100%;
          width: 2px;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
        &:hover:before,
        &:hover:after {
          background-color: $Yellow;
        }
      }
    }
  }
  #submitBtn {
    width: 40%;
    background-color: $DeepBlue;
    padding: 2%;
    margin: auto;
    border: 3px solid $Blue;
    cursor: pointer;
    &:hover {
      border-color: $Yellow;
      color: $Yellow;
    }
  }
  #registeredBtn {
    display: inline-block;
    cursor: pointer;
    padding: 4%;
    &:hover {
      text-decoration: underline;
      color: $Yellow;
    }
  }
}
